section.brand-panel-fluid{

    height: 15rem;
    background-color: #f6f6f6;

    div.brand-panel{

       
        display: flex;
        height: 15rem;
        background-color:#f6f6f6;
        align-items: center;
        justify-content: space-evenly;
        

     
    }

}