section.info-fluid {

    height: 40rem;
    background-color:white;

    div.info {

        display: flex;
        justify-content: space-around;
        background-color: white;
        height: 40rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        >article.low-article{

            background-color:white;
            align-self: flex-end;

        }
        
        >article {

            height: 30rem;
            box-sizing: border-box;
            width: 30%;
            box-shadow: 9px 9px 36px 2px rgba(133,133,133,1);
            padding: 2.5rem;
            transition: .5s;

            >h3 {

                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 2rem;
                margin-bottom: 1.5rem;
                font-weight: 500;
                color: rgb(63, 63, 63);

                >span {

                    font-family: 'fontello';
                    font-size: 2rem;
                    color: #00FFA3;
                    margin-right: .5rem;

                }

            }

            >p 
            {
                display: inline-block;
                height: 20rem;
                font-family: 'Raleway', sans-serif;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 2.2rem;
                margin-bottom:3rem;
                color: gray;
                
            }

        }

        article:hover{

            transform: translateY(-2rem);
            
        }

    }
}